{% load static %}
<footer class="bg-dark">
  <div class="container p-5">
    <div class="row">
      <div class="col-sm">
        <ul class="list-inline text-center text-light">
          <li class="list-inline-item"><a href="#" class="nav-link text-light"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light"><i class="fa fa-instagram fa-2x"></i></a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light"><i class="fa fa-google-plus fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><a href="#" class="nav-link text-light">Service</a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light">Contact</a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light">About</a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light">How to Use?</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <p class="text-center text-light m-0">Languages</p>
        <ul class="list-inline text-center">
          <li class="list-inline-item"><a href="#" class="nav-link text-light"><img src="{% static 'images/en.png' %}" alt="en" width="25" height="25"></a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light"><img src="{% static 'images/ru.png' %}" alt="ru" width="25" height="25"></a></li>
          <li class="list-inline-item"><a href="#" class="nav-link text-light"><img src="{% static 'images/uz.png' %}" alt="uz" width="25" height="25"></a></li>
        </ul>
      </div>
    </div>
    <p class="text-center m-0"><small class="text-muted">Copyright to SarCluMed - 2020</small></p>
  </div>
</footer>
