{% extends 'administrations/admin-base.html' %}
{% load static %}

{% block content %}
<h2 class="tm-block-title text-capitalize">{{ url_name }} List</h2>
<div class="" style="height:400px;overflow:auto;">
  <table class="table">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">ID NO.</th>
              <th scope="col">NAME</th>
              <th scope="col">EMAIL</th>
              <th scope="col">PHONE NO.</th>
              <th scope="col">ACTIVE ST.</th>
              <th scope="col">ACTION</th>
          </tr>
      </thead>
      <tbody>
          {% for account in accounts %}
            <tr id="account-{{ account.id }}">
                <th scope="row"><b>{{ forloop.counter }}</b></th>
                <td><b>{{ account.id }}</b></td>
                <td>{{ account.name }}</td>
                <td>{{ account.email }}</td>
                <td><b>{{ account.num }}</b></td>
                <td>
                  {% if account.is_active %}
                    <span class="badge badge-pill badge-success" id="badgeColor-{{ account.id }}"><i id="activeStatus-{{ account.id }}" class="fas fa-check"></i></span>
                  {% else %}
                    <span class="badge badge-pill badge-danger" id="badgeColor-{{ account.id }}"><i id="activeStatus-{{ account.id }}" class="fas fa-times"></i></span>
                  {% endif %}
                </td>
                <td>
                  <input type="hidden" id="Url" data-url="{% url 'administrations:admin-delete-account' %}" />
                  <button type="button" class="btn btn-outline-danger" onclick="deleteAccount({{ account.id }})">
                    <i class="fas fa-user"></i>
                  </button>
                </td>
            </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
{% endblock %}
