{% extends 'administrations/admin-base.html' %}

{% block content %}
<p class="text-right">
  {% if born == 'phone' %}
    <a href="{% url 'administrations:admin-add-product' 'accessory' %}"><i class="fas fa-plus" style="color:green"></i>Add <span class="text-success">Accessory</span> Instead</a>
  {% else %}
    <a href="{% url 'administrations:admin-add-product' 'phone' %}"><i class="fas fa-plus" style="color:green"></i>Add <span class="text-success">Phone</span> Instead</a>
  {% endif %}
</p>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <legend class="text-capitalize">create {{ born }}</legend>
        {% if born == 'phone' %}
          {% include 'include/_phone_create.html' %}
        {% elif born == 'accessory' %}
          {% include 'include/_accessory_create.html' %}
        {% else %}
          <h3 class="display-3">Ooops! Something went wrong...</h3>
        {% endif %}
        <button type="submit" class="btn btn-success">Create</button>
        <a href="{% url 'administrations:admin-products' %}" class="btn btn-outline-danger">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
