{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}<link rel="stylesheet" type="" href="{% static 'custom/css/login.css' %}">{% endblock %}

{% block content %}
  <div class="row justify-content-center mt-4">
    <div class="col-sm-3">
      <form class="form-signin pr-2 pl-2 login-form" method="post">
        {% csrf_token %}
        <legend>Please sign in</legend>
        <fieldset class="fieldset mb-2">
          {% for field in form %}
            <div class="form-group mt-2">
              <!-- {{ field.label_tag }} -->
              {{ field }}
            </div>
          {% endfor %}
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-primary">Login</button>
          <a href="{% url 'pages:home-page' %}" class="btn btn-block btn-outline-secondary">Cancel</a>
        </div>
        <p><small class="text-muted">Don't have account? <a href="#">Sign Up</a></small></p>
      </form>
      <p class="mb-3 text-muted text-center">&copy; 2017-2019</p>
      <!-- <form class="form-signin">
        <img class="mb-4" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
      </form> -->
    </div>
  </div>
{% endblock %}
